{% extends "student/base.html" %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        Student Information
                    </h1>
                    <h4>
                        Welcome to Student Information app, here is a brief introduction of this app.
                    </h4>
                </div>
            </div>
	    </div>
		<div class="row clearfix">
			<div class="col-md-6 column">
				<h3>
					Student
				</h3>
				<p>
					 There are 20 students in this university in 5 different majors. Their average gpa is 3.6. Among them are 6 sophomore, 7 Junior, and 7 Senior.
				</p>
			</div>
			<div class="col-md-6 column">
				<h3>
					Course
				</h3>
				<p>
					 The university offers students 19 different courses taught by 9 colleges.
				</p>
			</div>
		</div>
    </div>
{% endblock %}
